html, body, .viewport{
    /* enable flex on all child elements */
    display: flex; 
    /* lay out child elements side by side (multiple rows) */
    flex-direction: row;
    /* stretch child elements to, in case of row direction, all the way to the bottom */
    align-items: stretch;
    /* make the flex container use the full width of what is visible */
    width:100%;
    /* make the flex container use the full height of what is visible */
    height:100%;
    /* remove the default margins around the body */
    margin: 0;
  }
  .image-container {
    border: solid #3A3A3A;
    border-width: 0.7vw;


    /* the element will grow until all space is filled up, all elements have flex-grow: 1, which means space is equally divided */
    flex-grow: 1;
    /* this element is also a flex container, enabling flex on all children */
    display: flex;
    /* stack child elements in a row */
    flex-direction: row;
    /* child elements are aligned at the top, because direction is row */
    align-items: start;
    /* child elements are centered in horizontal direction, because direction is row */
    justify-content: center;
  }
  .pulsate-border{
    animation: pulse-border 5s linear 0s alternate infinite none running;
  }
  .pulsate-image{
    animation: pulse-image 5s linear 0s alternate infinite none running;
  }
  .delayed{
    animation-delay: 5s;
  }
  .background{
    object-fit: cover;
    width:100%;
    height:100%;
  }
  .title{
    position: absolute;
    font-size: 4em;
    color:#3A3A3A;
  }
  .fingerprint{
    position: absolute;
    width: 20%;
    height: auto;
    opacity: 0.0; 
  }
  @keyframes pulse-border {
    0%, 90%{
      border-color: #3A3A3A;      
    }
    100% {
      border-color: #D0D0D0; 
    }
  }
  @keyframes pulse-image {
    0%, 90%{
      opacity: 0.0;      
    }
    100% {
      opacity: 1.0; 
    }
  }