
/* ========= experience ========= */

.experience {
    /* spacer hack */
    flex: 1000000;
    border-color: #434343;
    padding: 16px;
    background: rgba(255, 255, 255, 0.85);
}

/* ========= title ========= */

.title {
    font-size: 150%;
}





