.kiteboarding {
    background-size: cover;
    background-position: center;
    background-image: url('./media/DSC04697.JPG');
    justify-content: space-around;
    align-items: flex-end;
}

.kiteboarding .arrow {
    cursor: pointer;
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.kiteboarding .arrow img {
    width: 150px;
    height: 150px;
    opacity: 0.5;
}

.kiteboarding .arrow img:hover {
    opacity: 1;
}

.kiteboarding .arrow img:active {
    opacity: 1;
    transform: scale(0.90);
}