.resume {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #434343;
    background: url('getwallpapers-polygon.jpg');
    background-size: cover;
    border-top: 1px solid;
}

.content {
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: wrap-reverse;
    max-width: 80rem;
}

/* ========= person ========= */

.person {
    flex: 1 1 14rem;
    border-right: 1px solid;
    border-color: #434343;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-size: cover;
    padding: 1rem;
}

.person .top{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
}

.person .bottom{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
}


/* ========= experience ========= */

.experience {
    /* spacer hack */
    flex: 1000000 0 30rem;
    max-width: 80rem;
    border-left: 1px solid;
    border-color: #434343;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: white;
}


/* ========= profile image ========= */

.profile-image {
    flex: 1 1;
    width: 80%;
    align-self: center;
}

.profile-image img {
    border-radius: 50%;
    width: 100%;
    transform: scaleX(-1);
}


/* ========= contact ========= */

.contact {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contact .contact-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact .icon-text {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .25rem 0 0.25rem 0;
}
.contact .icon-text .icon{
    flex: 0 0 2rem;
    padding-right: 0.5rem;
}
.contact .icon-text img {
    width: 100%;
}

/* ========= core values ========= */

.core-values {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}


/* ========= languages ========= */

.languages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* ========= hobbies ========= */

.hobbies {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 1rem;
}

.hobbies .hobbies-container {
    display: flex;
    flex-direction: row;
}
.hobbies .icon {
    flex: 0 0 4rem;
}

.hobbies .icon img {
    max-width: 4rem;
    padding: 0.5rem;
}


/* ========= name ========= */

.introduction {
    display: flex;
    flex-direction: column;
}

.introduction .name {
    color: #97955c;
    font-size: 4rem;
}

.introduction .title {
    font-size: 1.5rem;
}


/* ========= education ========= */

.date {
    width: 7rem;
    font-weight: 700;
}

/* ========= flexing ========= */
.row-wrap-start {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* ========= job-item ========= */

.job-item {
    padding: 1rem;
    /* make space between items */
    margin: 0 0.5rem 0.5rem 0;
    flex: 1 1 18rem;
    align-items: stretch;
    max-width: 30rem;
    min-width: 15rem;
    background: #CCC48A;
    display:flex;
    justify-content: stretch;
}

.job-item .content {
    flex: 1;
    padding: 0.25rem;
    justify-content: space-between;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.job-item .job-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

.job-item .job-date {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.job-item .job-title {
    flex: 2 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #3d9a85;
    font-weight: 700;
}

.job-item .references {  
    flex: 1;
    padding-top: 0.5rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

/* ========= skill ========= */

.skill {
    flex: 1 1 8rem;
    max-width: 12rem;
    min-width: 5rem;
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    /* make space between items */
    margin: 0 0.5rem 0.5rem 0;
    color: black;
}

.dark-yellow {
    background: #CABA70;
}

.light-yellow {
    background: #D0C878;
}

.dark-blue {
    background: #a0a65a;
}

.light-blue {
    background: #a0a65a;
}

/* ========= override default styling ========= */
.resume h2 {
    font-family: verdana, cursive, sans-serif;
    margin: 0;
    padding: 1rem 0 0.5rem 0;
}

.resume h3 {
    padding: 0.5rem 0 0 0;
    margin: 0;
    color: #3d9a85;
}

.resume h4 {
    padding: 0;
    margin: 0;
}

.resume ul {
    margin: 0;
    margin-block-start: 0rem;
    padding-inline-start: 2rem;
}

/* TODO: can this be more simple? */
.resume hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 0.5rem auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}






