.resume {
    /* min-height: 100%; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #434343;
    border-top: 1px solid;
}

.content {
    /* flex-wrap: wrap-reverse; */
    flex-wrap: wrap;
    max-width: 1280px;
}

canvas {
  
}


/* ========= override default styling ========= */

.resume h2 {
    font-family: verdana, cursive, sans-serif;
    margin: 0;
    padding: 4px 0 4px 0;
}

.resume h3 {
    padding: 4px 0 4px 0;
    margin: 0;
    color: #3d9a85;
}

.resume h4 {
    padding: 0;
    margin: 0;
}

.resume ul {
    margin: 0;
    margin-block-start: 0;
    padding-inline-start: 32px;
}

/* TODO: can this be more simple? */

.resume hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}