.project-item {
    flex: 1 1 500px;
    min-width: 300px;
    max-width: 1000px;
    padding: 4px;
}

/* To keep the boxes square */
.project-item:before {
    content:'';
    float:left;
    padding-top:100%;
}

.project-item .content img {
    width: 100%;
}

.project-item .content .info {
    background-color: #f3f3f3;
    padding: 12px;
}

.project-item .content .info .header img {
    width: 25%;
    object-fit: cover;
}

/* todo: find a better name for the list. */
.project-item .content .info .header .list {
    padding-left: 8px;
}

.project-item .content .info .header .title {
    white-space: nowrap;
    font-size: 150%;
    padding-bottom: 4px;
}

.project-item .content .info .description {
    padding-top: 8px;
    text-align: justify;
    text-justify: inter-word;
}

.project-item .content .info .tech {
    padding-top: 4px;
}