
.navigation {
    flex: 0 1 content;
    display: flex;
    justify-content: center;
    background: #1b1b1b;
}

.navigation .box {
    flex: 0 1 60rem;
    display: flex;
    justify-content: center;
}

.navigation .item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 200%;
    white-space: nowrap;
    padding: 1rem;
    background-color: #000000;
    color: #838383;
}

.navigation .selected {
    color: #f3f3f3;
}


.navigation .name {
    font-size: 300%;
    background-color: #f3f3f3;
    color: #1b1b1b;
}