
.navigation {
    background: #1b1b1b;
}

.navigation .desk {
    max-width: 1280px;
}

.navigation .name {
    font-size: 250%;
    background-color: #f3f3f3;
    color: #1b1b1b;
    white-space: nowrap;
    padding: 12px;
    cursor: default;
}

.navigation .menu {
    cursor: pointer;
    user-select: none;
}

.navigation .menu img {
    /* align-self: center; */
    width: 40px;
    height: 40px;
}
